{% load i18n %}

{% if payment_info %}
    <dl class="dl-horizontal">
        {% if "oid" in payment_info %}
            <dt>{% trans "oID" %}</dt>
            <dd>{{ payment_info.oid }}</dd>
        {% endif %}
        {% if "orderId" in payment_info %}
            <dt>{% trans "Order Id" %}</dt>
            <dd>{{ payment_info.orderId }}</dd>
        {% endif %}
        {% if "ipgTransactionId" in payment_info %}
            <dt>{% trans "IPG Transaction Id" %}</dt>
            <dd>{{ payment_info.ipgTransactionId }}</dd>
        {% endif %}
        {% if "status" in payment_info %}
            <dt>{% trans "Payment state" %}</dt>
            <dd>{{ payment_info.status }}</dd>
        {% endif %}
        {% if "transactionStatus" in payment_info %}
            <dt>{% trans "Transaction state" %}</dt>
            <dd>{{ payment_info.transactionStatus }}</dd>
        {% endif %}
        {% if "approval_code" in payment_info %}
            <dt>{% trans "Approval Code" %}</dt>
            <dd>{{ payment_info.approval_code }}</dd>
        {% endif %}
    </dl>
{% endif %}
